<connectionStrings>
  <add name="AppContext" connectionString="data source=DESKTOP-Q0UGT17\DESKTOPQ0UGT17;initial catalog=AppNowDB;persist security info=True;user id=sa;password=SSDesarrollo*123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>